<div class = "mt-5">
    <h2>Thank you for logging in. Start browsing all of our upcoming events and RSVP!</h2>
    <div class = "mt-4">
        <p><a href="/" class="btn btn-primary">Return Home</a></p>
    </div>
</div>