<div class = "mt-5">
    <h2>Thank you for signing up! Login to start browsing all of our upcoming events!</h2>
    <div class = "mt-4">
        <p><a href="/logins/new" class="btn btn-primary">Go to Login</a></p>
    </div>
</div>