<h1>Sign Up</h1>
<div class = "mt-4">
    <form action="/users/create" method="post">
    <div class="form-group">
        <label>Full name</label>
        <input type="text" class="form-control" placeholder="Jane Doe" name="name">
    </div>
    <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" placeholder="name@example.com" name="email">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="For security, we recommend it contains numbers, letters, and special characters." name="password">
    </div>
    <div class = "mt-4">
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
    </form>
</div>